<a href="https://colab.research.google.com/github/jjyjung/ai/blob/gh-pages/python_basic1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Jupyter Notebook 간단 사용법
### Cell 관리
1. In [ ] 뒤에 있는 부분을 Cell이라고 부릅니다.
1. Cell 위에 Cell을 추가할 때는 a를 누르고,<br>
1. Cell 다음에 추가할 때는 b를 누르며,<br>
Cell을 삭제할 때는 dd를 누릅니다.

### Cell 실행
- Cell 내에서 Ctrl + Enter
- 여러 Cell을 선택한 후, Ctrl + Enter

### Cell 실행
- In [ ] 안의 숫자는 실행된 index를 의미합니다.
- 만약 처음부터 다시 넘버링을 하고 싶다면, 메뉴 > Kernel > Restart 한 이후에,<br>
하나의 Cell 또는 여러 Cell을 선택한 후 재실행하면 됩니다. 

### Cell 타입
- 주로 Code와 Markdown으로 구분하여 사용하면 됩니다. 
- Code는 Python 등의 소스 코드를 기입합니다.
- Markdown은 간단한 HTML 생성 문법으로, 상세 사용법은 아래를 참조하시오.
<br> https://namu.wiki/w/마크다운

### Cell 위치 이동
- 하나 또는 둘 이상의 Cell을 선택하여, 메뉴 아래의 상/하 화살표로 위치 이동 가능

### 파일 저장 및 복구
- 메뉴 > File > save & checkpoint 를 클릭합니다.
- 메뉴 > File > rename 에서 파일명을 변경할 수 있습니다.
- 아까 저장했던 버전으로 복구하려면, File > Revert to Checkpoint 에서 원하는 저장시간을 선택하시오.

### 사칙연산

In [ ]:
#사칙연산을 설명합니다.
#주석은 # 뒤에 기재하면 됩니다.
a = 3
b = 4 
c = a + b
d = a - b
print (c)
print (d)

7
-1

In [ ]:
print (a*b); print (a/b)
#python에서 여러 문장을 한 줄에 쓸 때에는 semi-colon(;)을 쓸 수 있다.

12
0.75

In [ ]:
print (7/2)
print (7//2)  #몫
print (7%2)   #나머지

3.5
3
1

### 문자열

In [ ]:
str1 = 'python'      #문자열은 작은따옴표 또는 큰따옴표 모두 가능
str2 = "anaconda"
print (str1 + " " + str2) #문자열 연결
print (str1[2])  #문자 추출
print (str1[0:2])  #문자 추출
print (str2[:3])   #시작 index 생략
print (str2[-2:])  #뒤에서 시작하여, 종료 index 생략

python anaconda
t
py
ana
da

In [ ]:
str3 = "I'm John's father."  #큰 따옴표 안에서 작은 따옴표는 문자로 인식됨
print (str3)

I'm John's father.

In [ ]:
longStr1 = '''첫번째 줄
두번째 줄
세번째 줄'''
longStr2 = """
'네'번째 줄
'다섯'번째 줄
'여섯'번째 줄"""
print (longStr1 + longStr2)  #줄바꿈을 인식하는 긴 문자열

첫번째 줄
두번째 줄
세번째 줄
'네'번째 줄
'다섯'번째 줄
'여섯'번째 줄

### 제어문

In [ ]:
num = 5
if num > 5:  #colon을 반드시!
    print (str(num) + "은 5보다 크다")
    #숫자를 문자로 바꿀 때, 내장함수 str()을 사용하거나
elif num == 5:
    print ('num' + "은 5와 같다")
    #또는 ' ' 사용 가능
else: 
    print (str(num) + "은 5보다 작거나 같다")

num은 5와 같다

In [ ]:
for i in [1,2,3]:    # 괄호 대신 들여쓰기
    print (i)

n = 5
for i in range(n):   # range는 [0,1,...,n-1]의 list(배열)을 만들어 주는 내장함수
    print (str(i) + "는", "숫자입니다.")

for i in range(3,5): # 3부터 5 직전까지 배열 생성
    print (str(i))

for i in range(100, 200):
    if(i==103): continue
    print (i)
    if(i==105): break

1
2
3
0는 숫자입니다.
1는 숫자입니다.
2는 숫자입니다.
3는 숫자입니다.
4는 숫자입니다.
3
4
100
101
102
104
105

In [ ]:
i = 0
sum = 0
while i<5:
    sum += i
    print (sum)
    i+=1      ##i++ 대신에 이렇게 표현해야 함.

0
1
3
6
10

### 형변환

In [ ]:
s = '3.14'
pi = float(s) #실수로 변환
r = '2'
rad = int(r) #정수로 변환
print ("반지름 = " + str(rad)) #문자로 변환
area = pi * (rad ** 2)  #a**b는 a^b를 계산해줌
print (area)
volume = 4/3 * pi * pow(rad,3)  #내장함수 pow(a,b)도 a^b를 계산해줌
print (volume)

반지름 = 2
12.56
33.49333333333333

### 함수 정의

In [ ]:
def sum(a,b): 
    return a+b

def subtract(a,b):
    return a-b

print (sum(2,1))
print (subtract(2,1))

3
1

### List, Tuple, Set, Dictionary

In [ ]:
ary = [7,3,6]
for i in range(len(ary)):
    print (ary[i])

7
3
6

In [ ]:
ary.append('k')
print (ary[:])
print (ary[2:-1])  #ary의 index 2부터 끝에서 -1 직전까지 출력

[7, 3, 6, 'k']
[6]

In [ ]:
ary.insert(1,17)
print (ary[:])

[7, 17, 3, 6, 'k']

In [ ]:
ary.pop()
print (ary[:])
ary.pop(1)
print (ary[:])

[7, 17, 3, 6]
[7, 3, 6]

In [ ]:
if 'k' in ary:    #ary 내에 'k'가 존재하는지 확인하는 조건문
    ary.remove('k')  #'k'를 하나 삭제함
    print (ary[:])

In [ ]:
ary.sort()
print (ary)

[3, 6, 7]

In [ ]:
li = [[1,2],[3,4,5],6]  #다차원 리스트
print (li[0][0])
print (li[1][2])
print (li[2])

1
5
6

In [ ]:
t1 = (1,3,5,7)   #Tuple(튜플): list와 달리 크기가 고정됨
print (t1[1])
print (t1[2:4])

3
(5, 7)

In [ ]:
s1 = {1, 2, 3, 1, 2, 6}  #Set(집합)은 중복 무시
print (s1)
s2 = set(ary)
print (s2)
s3 = set(t1)
print (s3)

{1, 2, 3, 6}
{3, 6, 7}
{1, 3, 5, 7}

In [ ]:
s4 = set("Hello")
print (s4)

{'e', 'o', 'l', 'H'}

In [ ]:
dic = {'name':'kim', 'grade':2, 'age':20}
print (dic['name'] + "의 " + str(dic['grade']) + "학년이고 " + str(dic['age']) + "세입니다.")
#Dictionary(사전)은 key-value 쌍을 저장하는 자료구조 입니다.

kim의 2학년이고 20세입니다.

### Class

In [ ]:
class Customer:
#     name = ''
#     age = ''
#     gender = ''
    def addInfo(self, name, gender, age):
        self.name = name
        self.gender = gender
        self.age = age

c1 = Customer()
c1.addInfo('조영서', 'F', 20)
print(c1.name[0], c1.gender, c1.age/2 )

조 F 10.0

In [ ]:
class Student:
    univ = 'KHU'
    def __init__ (self, dept):    #_ _init_ _는 생성자(constructor)이다.
        self.dept = 'IE'
    def addInfo(self, grade, name):
        self.grade = grade
        self.name = name
    def printInfo(self):
        return self.univ + "," + self.dept + "," + str(self.grade) + "," + self.name
stu1 = Student('IE')  # 객체(object) 생성
stu1.addInfo(2,'Kim') # method를 이용하여 값을 전달
stu1.univ = 'UCLA'

stu2 = Student('ME')
stu2.addInfo(3,'Jung')

print (stu1.printInfo())
print (stu2.printInfo())

UCLA,IE,2,Kim
KHU,IE,3,Jung

#### 생각해보기
- Customer class를 만드시오.
- Constructor를 만들지 마시오.
- Field를 name, gender, age를 가질 수 있다.
- Field의 세 값을 객체에 전달할 수 있는 method인 addInfo를 만드시오.

In [ ]:
class Customer: